/** ** ** ** header ** ** ** **/
header a{
  text-decoration: none;
  color: #2c2c2c;
}

header * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;

  width: 100%;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-around;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

header .logo img {
  height: 70px;
  align-items: center;

}

header .search-bar {
  display: flex;
  align-items: 20px;
  margin: 10px;
}

header .search-bar input[type="text"] {
  padding: 10px;
  height: 35px;
  border-radius: 20px;
  border: none;
  background-color: #f2f2f2;
  font-size: 16px;
  width: 200px;
}

header .search-bar button {
  padding: 4px 20px;
  border-radius: 20px;
  border: none;
  background-color: chocolate;
  color: #fff;
  cursor: pointer;
  font-size: 16px;
}

header .header-buttons ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

header .header-buttons li {
  margin-left: 5px;
}

header .header-buttons a {
  color: #2c2c2c;
  text-decoration: none;
  font-size: 16px;
  padding-left: 15px;
}

header .fa {
  margin-left: 13px;
  margin-right: 2px;
}


/** ** ** ** inscription ** ** ** **/
@import url('https://fonts.googleapis.com/css?family-Montserrat:400,800');


.section-inscri .fa {
  margin-right: 10px;
}


.section-inscri .my-select {
  height: 30px;
  width: 150px;
  text-align: center;
  font-size: 16px;
}

.section-inscri * {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.section-inscri {
  background: #f6f5f7;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: 'Montserrat', sans-serif;
  height: 100vh;
}

.section-inscri .container {
  position: relative;
  overflow: hidden;
  min-height: 480px;
  width: 768px;
  max-width: 100%;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 8px 24px chocolate,
    0 8px 8px chocolate;
}

.section-inscri .form-container {
  position: absolute;
  top: 0;
  height: 100%;
  transition: .6s ease-in-out;
}

.section-inscri .sign-up-container {
  left: 0;
  width: 50%;
  opacity: 0;
  z-index: 1;
}

.section-inscri .container.panel-active .sign-up-container {
  transform: translateX(100%);
  opacity: 1;
  z-index: 5;
  animation: show .6s
}

@keyframes show {

  0%,
  49.99% {
    opacity: 0;
    z-index: 1;
  }

  50%,
  100% {
    opacity: 1;
    z-index: 5;
  }
}

.section-inscri .container.panel-active .login-container {
  transform: translateX(100%);
}

.section-inscri .login-container {
  left: 0;
  width: 50%;
  z-index: 2;
}

.section-inscri form {
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 50px;
  height: 100%;
  text-align: center;
}

.section-inscri input {
  background-color: #d8af6e;
  border: none;
  padding: 7px 15px;
  margin: 8px 0;
  width: 100%;
}

.section-inscri button.ghost {
  background-color: transparent;
}

.section-inscri button {
  background-color: #d8af6e;
  color: black;
  border: 1px solid #d8af6e;
  font-size: 16px;
  font-weight: bold;
  padding: 16px 32px;
  margin-top: 24px;
  letter-spacing: 1px;
  border-radius: 50px;
  border-color: chocolate;
}

.section-inscri button:hover {
  cursor: pointer;
  background-color: chocolate;
  color: #d8af6e;
}


.section-inscri button:active {
  transform: scale(.95);
}

.section-inscri .social-container {
  margin: 24px 0;
}

.section-inscri .social-container a {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin: 0 4px;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  background-color: #d8af6e;
  border: 1px solid chocolate;
}

.section-inscri h1 {
  margin: 0;
  font-size: 24px;
}

.section-inscri span {
  font-size: 14px;
}

.section-inscri a {
  text-decoration: none;
  font-size: 14px;
  margin: 8px 0 16px;
  color: #333;
}

.section-inscri .overlay-container {
  position: absolute;
  top: 0;
  left: 50%;
  width: 50%;
  height: 100%;
  overflow: hidden;
  z-index: 100;
  transition: transform .6s ease-in-out;
}

.section-inscri .container.panel-active .overlay-container {
  transform: translateX(-100%);
}

.section-inscri .overlay {
  background: linear-gradient(to right, #d8af6e, #f6f5f7);
  background: #d8af6e;
  color: chocolate;
  position: relative;
  left: -100%;
  height: 100%;
  width: 200%;
  transform: translateX(0);
}

.section-inscri .container.panel-active .overlay {
  transform: translateX(50%);
}

.section-inscri .overlay-panel {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 40px;
  text-align: center;
  top: 0;
  height: 100%;
  width: 50%;
  transform: translateX(0);
  transition: transform .6s ease-in-out;
}

.section-inscri .overlay-left {
  transform: translateX(-20%);
}

.section-inscri .container.panel-active .overlay-left {
  transform: translateX(0);
}

.section-inscri .overlay-right {
  right: 0;
  transform: translateX(0);
}

.section-inscri .container.panel-active .overlay-right {
  transform: translateX(20%);
}

.section-inscri p {
  color: black;
  font-size: 14px;
  font-weight: 100;
  line-height: 20px;
  letter-spacing: .5px;
  margin: 20px 0 30px;
}

.section-inscri .inscription-reussie {
  background-color: #e6f2e6;
  padding: 20px;
  border-radius: 5px;
  text-align: center;
}

.section-inscri .inscription-reussie h1 {
  color: #006600;
}

.section-inscri .inscription-reussie p {
  color: #008000;
}

.section-inscri .icone-vrai {
  font-size: 50px;
  color: #008000;
  margin-top: 20px;
}

/*** *** *** *** footer *** *** *** ***/
.foot_sec {
  width: 100%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.foot_left {
  width: 100%;
}
.foot_left img {
  max-width: 30%;
  margin-bottom: 20px;
}
.foot_left p {
  font: 500 18.52px/28px "Poppins", sans-serif;
  color: #000;
}
.foot_rt {
  width: 100%;
}
.foot_rt h3 {
  font: 600 22.52px/28px "Poppins", sans-serif;
  color: #000;
}
.foot_rt p span {
  display: inline-block;
  width: 100%;
  font: 500 18.52px/28px "Poppins", sans-serif;
  color: #000;
  padding-top: 10px;
}
.foot_rt p,
.foot_rt p a {
  font: 500 18.52px/28px "Poppins", sans-serif;
  color: #f2c426;
}
.foot_top {
  width: 100%;
  background: #fff;
  padding: 15px 0;
}
.foot_btm {
  width: 100%;
  background: chocolate;
  padding: 3px 0;
  height: 34px;
}
.foot_btm p {
  font: 500 15.52px/28px "Poppins", sans-serif;
  color: #000;
}
.foot_btm p a {
  color: #000;
}

/** ** *** ***/
.img_pro{
  width: 350px;
  /* display: block;
  margin: auto; */
  border-radius: 20px;
}

.icone_panier{
  width: 73px;
  border: 1px solid;
  border-radius: 57px;
  padding: 9px;
}
